<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Empleo</servlet-name>
        <servlet-class>Controlador.ServeltEmpleo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Persona</servlet-name>
        <servlet-class>Controlador.ServeltPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empresa</servlet-name>
        <servlet-class>Controlador.ServletEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensaje</servlet-name>
        <servlet-class>Controlador.ServletMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicacion</servlet-name>
        <servlet-class>Controlador.ServletPublicacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Empleo</servlet-name>
        <url-pattern>/ServeltEmpleo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Persona</servlet-name>
        <url-pattern>/ServeltPersona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empresa</servlet-name>
        <url-pattern>/ServletEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensaje</servlet-name>
        <url-pattern>/ServletMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicacion</servlet-name>
        <url-pattern>/ServletPublicacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
