<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPersona</servlet-name>
        <servlet-class>Controlador.ServletPersona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPublicacion</servlet-name>
        <servlet-class>Controlador.ServletPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpresa</servlet-name>
        <servlet-class>Controlador.ServletEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleo</servlet-name>
        <servlet-class>Controlador.ServletEmpleo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultas</servlet-name>
        <servlet-class>Controlador.ServletConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubirImagen</servlet-name>
        <servlet-class>Controlador.ServletSubirImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSubirDocumento</servlet-name>
        <servlet-class>Controlador.ServletSubirDocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConsultas</servlet-name>
        <url-pattern>/ServletConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubirImagen</servlet-name>
        <url-pattern>/ServletSubirImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSubirDocumento</servlet-name>
        <url-pattern>/ServletSubirDocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
